@import url('../fonts/simplon-norm.css');
@import url('../fonts/simplon-mono.css');
@import url('../fonts/avenir.css');

@use postcss-simple-vars;
@use postcss-custom-media;
@use postcss-nested;

/* Light theme */
@import url('./_variables-theme1.css');
/* Dark theme */
/* @import url('./_variables-theme2.css'); */
@custom-media --small-viewport (min-width: 768px);


%highlighted {
  font-style: normal;
  color: $color-highlight;
}

/*
// Base
*/
body {
  height: 100vh;
  margin: 0;
  position: relative;
  font-size: 18px;
  font-family: $sans; 
  color: $color-text;
  background-color: $color-text;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

p {
  line-height: 1.7;
}

.content .fa {
  margin-right: .25rem;
}

a {
  text-decoration: none;
  opacity: .5;
  transition: background-color 0.3s ease;
  color: inherit;
  background-mix-mode: multiply;

  &:hover {
    opacity: 1;
    /* background: rgba(0, 0, 0, .3); */
    background-color: rgba(0, 0, 0, .04);
  }

  &.em {
    @extend %highlighted;
    opacity: 1;

    &:hover {
      background: rgba(0, 0, 0, .05);
    }
  }
}

h1 {
  font-size: calc(5vw + 20px);
  text-align: right;
  font-family: $sans-callout;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (--small-viewport) {
    /* color: rgba(0, 0, 0, .5); */
  }
}

h2 {
  /* font-family: $sans-header; */
  /* font-size: calc(1vw + 12px); */
  font-size: 18px;
  font-weight: 300;
  font-family: $sans-header;
  line-height: 1;
}

h3 {
  /* font-family: $sans-header; */
  font-size: calc(1vw + 12px);
  font-weight: 700;
  font-family: $sans-callout;
  line-height: 1.5;
}

h4 {
  font-family: $sans-callout;
  text-transform: uppercase;
  letter-spacing: .1em;
  /* font-size: 1rem; */
}

h5 {
  font-family: $sans-header;
  opacity: .5;
  letter-spacing: .06em;
  font-size: inherit;
  font-weight: 400;
}

/*
// Frame
*/
.row {
  padding-left: 10%;
  padding-right: 60px;
  padding-bottom: 10%;
}

em {
  @extend %highlighted;
}

.article-wrapper {
  display: flex;
  background: $color-bg;
}

.art {
  position: fixed;
  height: 100vh;
  z-index: 1;
  width: 100%;

  @media (--small-viewport) {
    width: 50vw;
    flex: 0 0 50%;
  }
}

.caption,
.code-show {
  font-size: 11px;
}

.code-show {
  font-family: $mono;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $good;
  overflow: scroll;
  transition: all 1s ease-in-out;
  z-index: -1;
  padding: 10%;
}

.art:hover .code-show {
  opacity: 1;
  color: $good;

  @media (--small-viewport) {
    background: $color-highlight;
  }
}

/* .commit-code { */
/* } */

.caption {
  font-family: $mono;
  font-weight: normal;
  text-align: right;
  margin: 0 20px 20px 50%;
  z-index: 10;
  display: none;

  @media (--small-viewport) {
    display: block;
    margin-right: 10%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* // first letter trick not working. not a big deal */
.commit-number {
  color: color(#FFF alpha(-50%));

  &::first-letter {
    color: $good;
  }
}

/* // Brittle code here */
.commit,
.explanation,
.delta {
  > a,
  > span {
    
    opacity: 1;
    background-color: $good;
  }
}

.explanation {
  @media (--small-viewport) {
    &:before {
      content: "↑ ";
      opacity: .5;
    }
  }
}

.art:hover .explanation {
  display: none;
}

.deets {
  @media (--small-viewport) {
    display: none;
  }
}

.art:hover .deets {
  display: block;
}

.delta {
  .added {
    color: $color-added; 
  }

  .removed {
    color: $color-removed; 
  }
}

.copy {
  padding: 30px 0 0;
  z-index: 10;
  /* background: $evil; */

  @media (--small-viewport) {
    padding-top: 0;
    margin-left: 50%;
  }
}

.lead {
  @media (--small-viewport) {
    margin-bottom: 0;
  }
}

.mag {
  @media (--small-viewport) {
    columns: 2;
    column-width: 250px;
    column-gap: 2em;
    position: relative;
  }
}

.pull-quote {
  font-size: 1.8em;
  font-family: $sans-callout;
  font-weight: 700;
  padding: 20px 0;
  border-top: 1px solid $color-fray;
  border-bottom: 1px solid $color-fray;
  line-height: 1.5;
  position: relative;

  p {
    margin: 0;
    & + p {
      margin-top: 20px;
    }
  }

  @media (--small-viewport) {
    font-size: 28px;

    &.illustrated {
      p {
        margin-left: 75px;
      }
    }
  }
}

.pull-stats {
  @extend .pull-quote;
  @media (--small-viewport) {
  font-size: 15px;
  font-family: $sans-header;
  font-weight: 300;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10%;
  border-top: none;
  border-bottom: 1px solid $color-fray;
  line-height: 1.5;
  }
}

.content {
  ul,
  ol {
    list-style-type: decimal-leading-zero;
    margin: 0;
    padding: 0;
    counter-reset: item; 

    @media (--small-viewport) {
      margin-left: -1.25rem; /* relates to the .25rem below */
    }
  }

  li {
    display: flex; 
    border-bottom: 1px solid $color-fray;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    color: $color-text;
    position: relative;
    overflow: visible;
    list-style-position: inside;

    @media (--small-viewport) {
      &:last-child {
        border: none;
        margin-bottom: 0;
      }

      &:before {
        /* yes this fails for > 10 as-is */
        content: '0'counter(item) ". ";
        counter-increment: item;
        color: rgba(0,0,0,.1);
        padding-right: .25rem;
      }
    }
  }

  @media (--small-viewport) {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* Frame */

.intro {
  /* color: $evil; */
  color: $color-text;

  @media (--small-viewport) {
    position: fixed;
    top: 0;
    bottom: 50%;
    left: 50%;
    right: 0;
    display: flex;
    align-content: flex-end;
    padding-bottom: 0;
  }
}

.intro__contain {
  @media (--small-viewport) {
    text-align: right;
    align-self: flex-end;
  }
}

.my-face {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  width: 50px;
  height: 50px;
  display: block;

  @media (--small-viewport) {
    position: absolute;
    z-index: 1991;
    left: 0;
    top: 20px;
    overflow: hidden;
    border-radius: 50%;
  }
}

.credentials {
  background-color: $color-fg;
  position: relative;
  padding-top: 60px;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid $color-fg;
    border-left: 100vw solid transparent;
    position: absolute;
    top: -20px;
    right: 0;
  }

  @media (--small-viewport) {
    margin-top: 100vh;
    margin-top: calc(100vh + 60px);
    z-index: 1991;
    padding-bottom: 1rem;

    /* slanty slant */
    &:before {
      border-bottom: 60px solid $color-fg;
      position: absolute;
      top: -60px;
      border-left: 50vw solid transparent;
    }

    /* little triange */
    &:after {
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 7px solid $color-fg;
	    height: 0;
      bottom: -7px;
      content: "";
      position: absolute;
      right: 10%; /* fallback */
      right: calc(10% - 5px);
      width: 0;
    }
  }
}

/*
// Footer
*/
.tertiary-links {
  font-size: 75%;
  position: relative;
  z-index: 100;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.signature {
  max-width: 100px;
}

.social {
  padding: 0;
  align-self: flex-start;

  > li {
    display: inline-block;

    &:after {
      content: '/';
      padding-left: .5rem;
      padding-right: .3rem;
      opacity: .3;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

/*
// FORMAT HELPERS
*/
.mt0 {
  margin-top: 0;
}

/* 3 is arbitray */
.mb3 {
  margin-bottom: 1.5rem;
}

/* 4 is arbitray */
.mb4 {
  margin-bottom: 10%;
}

.bbb {
  border-bottom: 5px solid $color-fray;
}

.text-right {
  text-align: right;
}
