doctype html
html(lang='en')
head
  meta(charset='UTF-8')
  title Zac Collier
  link(rel='stylesheet', href='dist/css/style.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel="icon" sizes="16x16" src="favicon.ico")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js')
