include template/_head.pug

.article-wrapper
  figure.art#screen
    .caption#info
      .explanation Explore my <a href="#">Github</a> activity this month
      .deets
        #commit-desc.commit The commit
        // #commit-date.date The date
        #commit-stats.delta
          span#commit-added.added x
          span &nbsp;/&nbsp;
          span#commit-removed.removed y
  section.text
    header.intro.row
      .intro__contain
        h1 Zac Collier
        h2.lead.text-right A full-stack developer
    article.content.credentials.row
      h3.lead.mb4 This week I pushed <em>129</em> lines of code to 3 repositories. I removed 15 lines and added 203 lines.
      h4 Notable contributions
      section.mag.mb4
        h5.mt0 Popular Repos
        ul
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> The Noun Project</a>
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> Aids Awareness Institute</a>
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> ACA Something</a>
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> React Tools</a>
        h5 Cool Repos
        ul
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> The Noun Project</a>
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> Aids Awareness Institute</a>
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> ACA Something</a>
          li <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> React Tools</a>
      section.mag.mb4
        h4 TL;DR
        ul
          li ️❤ JavaScript
          li Knowledgeable in React + Redux
          li Self-starting team player and collaborator
          li Regular Contributor to <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i> Open Source</a>
        h4 Skills
        h5 Languages &amp; Frameworks:
        ul
          li JavaScript ES6 / ES7
          li React + Redux
          li Node.js
          li Express
          li MongoDB / Mongoose
          li jQuery
          li W3C-Spec HTML &amp; CSSBootstrap 3 / 4

        h5 Architectures &amp; Strategies:
        ul
          li Experience building and optimizing REST APIs
          li Firm grasp of developing relational schemae with Mongoose
          li Knowledgable with implementing authentication via basic JWT strategies or OAuth social integrations

        h5 Development Best Practices:
        ul
          li Disciplined usage of Git to properly organize project workflow
          li Knowledge of test-driven development protocols such as Mocha, TAP / tape, Travis and Circle CI
          li Some experience with Type systems such as Immutable JS, TypeScript, and React PropTypes

        h5 Linux / BSD:
        ul
          li Firm grasp of Linux / BSD filesystem &amp; common commands
          li Avid Vim user and contributor to a well-regarded dotfiles repository maintained by Greg Hurrell at Facebook's Relay team
          li Experience working with several package managers including brew, apt, yum, portage and pacman.

        p I am a disciplined, task-driven developer with a passion for excellent code quality and an unwavering dedication to my team. I thrive on seeing my peers succeed. My love for software development is energized by an inherent spirit of collaboration.

        p I work diligently to make myself a dependable resource for those around me by efficiently responding to their needs and contributing thoughtful insight to optimizing long-term implementation strategies.

        p.pull-quote I thrive on seeing others succeed. My love for software development is energized by an inherent spirit of <em>collaboration</em>.

        p I contribute to Open Source regularly and greet every day with an eagerness to work hard, learn  something new, and give back to the community wherever possible.

        p I am a classically-trained Contrabass player turned electronic sound artist. When I'm not writing web apps, I can usually be found drinking espresso and programming silly sounds on a Raspberry Pi.
      section
        figure.pull-quote.illustrated
          p I have just graduated top of my class, I am currently interested in full-time full-stack positions. I'd <a href="#"class="em">love to chat</a>.
          cite.my-face
            img(src="../src/img/my-face-what-it-looks-like.jpg")

    footer.tertiary-links.row
      ul.social
        li
          <a href="https://github.com/zacacollier/"><i class="fa fa-github"></i></a>
        li
          <a href="https://linkedin.com/in/zacacollier"><i class="fa fa-linkedin"></i></a>
        li
          <a href="https://medium.com/@zacharycollier/"><i class="fa fa-medium"></i></a>
      small.signature
        img(src="../src/img/signature_ivory.png").logo
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js')
  script(src='dist/js/ghData.js')
  script(src='dist/js/fetchGitHubApi-compiled.js')
  script(src='dist/js/site-v1.js')
